{extends file="../Layouts/index.html"}

{block name='style3'}
	color:#000;
{/block}


{block name='main'}
    <nav class="breadcrumb">
    <div class="container"><i class="Hui-iconfont">&#xe67f;</i> <a href="/" class="c-primary">首页</a> <span class="c-gray en">&gt;</span> <span class="c-gray">碎言碎语</span></div>
</nav>

<section class="container mt-20">
    <div class="container-fluid">
        <div class="timeline">
        {foreach $res as $k=>$v}
					<div class="cd-timeline-block">
					    <div class="cd-timeline-img cd-picture">
					        <img src="./Public/css/timeline/cd-icon-location.svg" alt="position">
					    </div>
					    <div class="cd-timeline-content">
					        <h4>{$v['title']}</h4>
					        <p>{$v['contents']}</p>
					        <a href="http://www.wfyvv.com" class="f-r"><input class="btn btn-success size-S" type="button" value="更多"></a>
					        <span class="cd-date">{$v['insert_at']}</span>
					    </div>
					</div>
		{/foreach}	
        </div>
    </div>

</section>
{/block}

{/block name='js'}
<script type="application/x-javascript">
 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}
</script>
<script>
	{literal}
        $(function () {
            //on scolling, show/animate timeline blocks when enter the viewport
            $(window).on('scroll', function () {
                $('.cd-timeline-block').each(function () {
                    if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                    }
                    if ($(window).scrollTop() - $(this).offset().top > 0) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden').removeClass('bounce-in');
                    }
                    
                });
               $('.cd-timeline-block').each(function(){
                    if($(this).offset().top < $(window).scrollTop()+$(window).height()*0.75) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden');
                    }
                });
            });
        });
{/literal}
</script> 

{/block}

