{extends file="../Layouts/index.html"}

{block name='style2'}
	color:#000;
{/block}

{block name='main'}
<nav class="breadcrumb">
    <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="/" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">关于</span> </div>
</nav>

<section class="container">
    <div class="container-fluid">
        <div class="about">
            <h2>About me</h2>
            <ul>
                <p>一枚正在努力进步的javaWeb程序员。专长领域为Web开发、服务器端开发，目前正在向全栈工程师进发。。。</p>
            </ul>
            <h2>My blog</h2>
            <ul>
                <p>博客记录自己的成长经历，分享心得</p>
                <p>本站定位为IT技术博客站，博客内容主要涉及编程语言、前端开发、服务端开发及一些热门技术等方面，同时分享实用的学习和开发资料。</p>
            </ul>
            <h2>Contact  me</h2>
            <ul>
                <p><i class="Hui-iconfont">&#xe67b;</i>qq :511969282</p>
                <p><i class="Hui-iconfont">&#xe6d1;</i>git：<a href="https://ouxiaowei.github.io/" class="blog_link" >https://ouxiaowei.github.io/</a></p>
                <p><i class="Hui-iconfont">&#xe63b;</i>email : <a class="blog_link" href="##">511969282@qq.com</a></p>
            </ul>
        </div>

    </div>
</section>

{/block}
