{extends file="../Layouts/index.html"}

{block name='style4'}
	color:#000;
{/block}

{block name='main'}
    <nav class="breadcrumb">
    <div class="container">
        <i class="Hui-iconfont">&#xe67f;</i><a href="/" class="c-primary">首页</a>
        <span class="c-gray en">&gt;</span> <a href="/article" class="c-primary">学无止尽</a>
        <span class="c-gray en">&gt;</span> <span class="c-gray"><i class="Hui-iconfont">&#xe64b;</i> nginx</span>
    </div>
</nav>

<section class="container">
  <!--left-->
  <div class="col-sm-9 col-md-9 mt-20">
  		
  	<!--article list-->
			<ul class="index_arc">
				{foreach $data as $k=>$v}
				<li class="index_arc_item">
					<a href="../Public/Admin/Uploads/{$v['picture']}" class="pic">
						<img class="lazyload" src="../Public/Admin/Uploads/s_{$v['picture']}" alt="应该选" />
					</a>
					<h4 class="title"><a href="./index.php?c=detail&a=index&id={$v['id']}">{$v['title']}</a></h4>
					<div class="date_hits">
						<span>{$v['author']}</span>
						<span>{$v['insert_at']}</span>
						<span><a href="/article-lists/10.html">{$v['keywords']}</a></span>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i>{$v['click_num']}° </p>
						<p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">{$v['reply_num']}</span></p>
					</div>
					<div class="desc">{$v['intro']}</div>
				</li>
				{/foreach}
			</ul>
			<div class="page">
	        	<ul>
	        		<a href="#"><li>共{$maxPage}页/第{$page}页</li></a>
	        		<a href="index.php?c=index&a=index&p=1"><li>首页</li></a>
	        		<a href="index.php?c=index&a=index&p={$page-1}"><li>上一页</li></a>
	        		<a href="index.php?c=index&a=index&p={$page+1}"><li>下一页</li></a>
	        		<a href="index.php?c=index&a=index&p={$maxPage}"><li>尾页</li></a>
	        	</ul>
	        </div>
  </div>
  
  <!--right-->
  <div class="col-sm-3 col-md-3 mt-20">
  	
  	<!--博主信息-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>博主信息</strong></a>
            </div>
            <div class="tab-category-item">
                <ul class="index_recd">
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe653;</i>姓名：OXW</li>
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe70d;</i>职业：Web开发</li>
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe63b;</i>邮箱：<a href="mailto:511969282@qq.com">511969282@qq.com</a></li>
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe671;</i>定位：浙江 &middot; 杭州</li>
                </ul>
            </div>
        </div>
  	
  	<!--热门推荐-->
  		<div class="bg-fff box-shadow radius mb-20">
    		<div class="tab-category">
    			<a href=""><strong>热门推荐</strong></a>
    		</div>
    		<div class="tab-category-item">
    			<ul class="index_recd">
    				{foreach $result as $k=>$v}
    				<li>
    					<a href="#">{$v['title']}</a>
    					<p class="hits"><i class="Hui-iconfont" title="回复量">&#xe622;</i> {$v['reply_num']} </p>
    				</li>
    				{/foreach}
    			</ul>
    		</div>
    	</div>
  </div>
  
</section>
    {/block}