{extends file="../Layouts/index.html"}

{block name='style1'}
	color:#000;
{/block}

{block name='main'}
	<nav class="breadcrumb">
	  <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="index.php?c=index&a=index" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">文章详情</span> <span class="c-gray en">&gt;</span>  <span class="c-gray">{$data['title']}</span></div>
	</nav>

	<section class="container pt-20">
	
	<div class="row w_main_row">
				
				<div class="col-lg-9 col-md-9 w_main_left">
					<div class="panel panel-default  mb-20">
						<div class="panel-body pt-10 pb-10">
							<h2 class="c_titile">{$data['title']}</h2>
							<p class="box_c"><span class="d_time">发布时间：{$data['insert_at']}</span><span>编辑：<a href="mailto:wfyv@qq.com">{$data['author']}</a></span><span>阅读（{$data['click_num']}）</span></p>
							<ul class="infos">
								      <p>{$data['details']}</p>
							</ul>
															
							<div class="keybq">
						    	<p><span>关键字</span>：<a class="label label-default">{$data['keywords']}</a></p>    
						    </div>
							
							<div class="nextinfo">
								<p class="last">上一篇：<a href="#">免费收录网站搜索引擎登录口大全</a></p>
								<p class="next">下一篇：<a href="#">javascript显示年月日时间代码</a></p>
						    </div>
							
						</div>
					</div>
					
					<div class="panel panel-default  mb-20">
						<div class="tab-category">
                <a href=""><strong>评论区</strong></a>
            </div>
						<div class="panel-body">
							<div class="panel-body" style="margin: 0 3%;">
                    <div class="mb-20">
                    	<ul class="commentList">
                    		{if $res==null}
                    			目前还没有沙发，赶快抢沙发吧
                    		{else}
                    		{foreach $res as $k=>$v}
                            <li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="http://qzapp.qlogo.cn/qzapp/101388738/1CF8425D24660DB8C3EBB76C03D95F35/100"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">{$v['nickname']}</a>
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20" class="f-r">{$v['reply_at']}</time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        {$v['reply_contents']}
                                    </div>
                                </div>
                            </li>
							{/foreach}
							{/if}
                        </ul>
    
                    </div>
                    
                    
                    <div class="line"></div>
                    <!--用于评论-->
                    <form action="index.php?c=detail&a=doReply&id={$id}" method="post">
                    	
                    	<input type="hidden" name='uid' value="{$smarty.session.h_uid}"/>
                    	<input type="hidden" name='aid' value="{$smarty.get.id}"/>
                    	<input type="hidden" name='reply_at' value="{date('Y-m-d H:i:s',$smarty.now)}"/>
                    	
	                    <div class="mt-20" id="ct">
	                        <div id="err" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
	                        <textarea id="textarea1" name="reply_contents" style="height:200px;" placeholder="看完不留一发？"> </textarea>
	                        <div class="text-r mt-10">
	                            <button onclick="getPlainTxt()" class="btn btn-primary radius" > 发表评论</button>
	                        </div>
	                    </div>
					</form>
                </div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<!--热门推荐-->
  	<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>热门推荐</strong></a>
			</div>
			<div class="tab-category-item">
				<ul class="index_recd">
					{foreach $result as $k=>$v}
					<li>
						<a href="#">{$v['title']}</a>
						<p class="hits"><i class="Hui-iconfont" title="回复量">&#xe622;</i> {$v['reply_num']} </p>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
						
					<!--图片-->
		<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>扫我关注</strong></a>
			</div>
			<div class="tab-category-item">
				<img data-original="./Public/img/temp/gg.jpg" class="/img-responsive lazyload" alt="响应式图片">
			</div>
		</div>
					
				</div>
			</div>
	
</section>
	
	
	
{/block}

{block name='js'}

{literal}
<script type="text/javascript">
    $(function () {
    		$("img.lazyload").lazyload({failurelimit : 3});
    	
        wangEditor.config.printLog = false;
        var editor1 = new wangEditor('textarea1');
        editor1.config.menus = ['insertcode', 'quote', 'bold', '|', 'img', 'emotion', '|', 'undo', 'fullscreen'];
        editor1.config.emotions = { 'default': { title: '老王表情', data: './Public/plugin/wangEditor/emotions1.data'}, 'default2': { title: '老王心情', data: './Public/plugin/wangEditor/emotions3.data'}, 'default3': { title: '顶一顶', data: './Public/plugin/wangEditor/emotions2.data'}};
        editor1.create();

        //show reply
        $(".hf").click(function () {
            pId = $(this).attr("name");
            $(this).parents(".commentList").find(".cancelReply").trigger("click");
            $(this).parent(".comment-body").append($(".comment").clone(true));
            $(this).parent(".comment-body").find(".comment").removeClass("hidden");
            $(this).hide();
        });
        //cancel reply
        $(".cancelReply").on('click',function () {
            $(this).parents(".comment-body").find(".hf").show();
            $(this).parents(".comment-body").find(".comment").remove();
        });
    });

</script>
{/literal}

{/block}
